Options -Indexes 


Redirect 301 /gs/index.html /
Redirect 301 /fs/index.html /
Redirect 301 /gs/ /
Redirect 301 /fs/ /
Redirect 301 /gk-computer-awerness-govt-competitive-exams-pg-15.html /gs/gk-computer-awerness-govt-competitive-exams-pg-15.html

RewriteEngine On
Redirect 301 /404.html /index.html#redirect-old-stmp
Redirect 301 /computer-abbrevations.html /index.html#redirect-old-stmp
Redirect 301 /computer-awarness-pg1.html /index.html#redirect-old-stmp
Redirect 301 /computer-awarness-pg10.html /index.html#redirect-old-stmp
Redirect 301 /computer-awarness-pg11.html /index.html#redirect-old-stmp
Redirect 301 /computer-awarness-pg12.html /index.html#redirect-old-stmp
Redirect 301 /computer-awarness-pg13.html /index.html#redirect-old-stmp
Redirect 301 /computer-awarness-pg14.html /index.html#redirect-old-stmp
Redirect 301 /computer-awarness-pg15.html /index.html#redirect-old-stmp
Redirect 301 /computer-awarness-pg16.html /index.html#redirect-old-stmp
Redirect 301 /computer-awarness-pg17.html /index.html#redirect-old-stmp
Redirect 301 /computer-awarness-pg18.html /index.html#redirect-old-stmp
Redirect 301 /computer-awarness-pg19.html /index.html#redirect-old-stmp
Redirect 301 /computer-awarness-pg2.html /index.html#redirect-old-stmp
Redirect 301 /computer-awarness-pg20.html /index.html#redirect-old-stmp
Redirect 301 /computer-awarness-pg21.html /index.html#redirect-old-stmp
Redirect 301 /computer-awarness-pg22.html /index.html#redirect-old-stmp
Redirect 301 /computer-awarness-pg23.html /index.html#redirect-old-stmp
Redirect 301 /computer-awarness-pg24.html /index.html#redirect-old-stmp
Redirect 301 /computer-awarness-pg25.html /index.html#redirect-old-stmp
Redirect 301 /computer-awarness-pg26.html /index.html#redirect-old-stmp
Redirect 301 /computer-awarness-pg27.html /index.html#redirect-old-stmp
Redirect 301 /computer-awarness-pg28.html /index.html#redirect-old-stmp
Redirect 301 /computer-awarness-pg3.html /index.html#redirect-old-stmp
Redirect 301 /computer-awarness-pg4.html /index.html#redirect-old-stmp
Redirect 301 /computer-awarness-pg5.html /index.html#redirect-old-stmp
Redirect 301 /computer-awarness-pg6.html /index.html#redirect-old-stmp
Redirect 301 /computer-awarness-pg7.html /index.html#redirect-old-stmp
Redirect 301 /computer-awarness-pg8.html /index.html#redirect-old-stmp
Redirect 301 /computer-awarness-pg9.html /index.html#redirect-old-stmp
Redirect 301 /computer-knowledge-pg1.html /index.html#redirect-old-stmp
Redirect 301 /computer-knowledge-pg2.html /index.html#redirect-old-stmp
Redirect 301 /computer-knowledge-pg3.html /index.html#redirect-old-stmp
Redirect 301 /computer-knowledge-pg4.html /index.html#redirect-old-stmp
Redirect 301 /computer-knowledge-pg5.html /index.html#redirect-old-stmp
Redirect 301 /computer-knowledge-pg6.html /index.html#redirect-old-stmp
Redirect 301 /computer-knowledge-pg7.html /index.html#redirect-old-stmp
Redirect 301 /computer-knowledge-pg8.html /index.html#redirect-old-stmp
Redirect 301 /contact-us.html /index.html#redirect-old-stmp
Redirect 301 /disclaimer.html /index.html#redirect-old-stmp
Redirect 301 /general-knowledge-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /general-knowledge-pg-10.html /index.html#redirect-old-stmp
Redirect 301 /general-knowledge-pg-11.html /index.html#redirect-old-stmp
Redirect 301 /general-knowledge-pg-12.html /index.html#redirect-old-stmp
Redirect 301 /general-knowledge-pg-13.html /index.html#redirect-old-stmp
Redirect 301 /general-knowledge-pg-14.html /index.html#redirect-old-stmp
Redirect 301 /general-knowledge-pg-15.html /index.html#redirect-old-stmp
Redirect 301 /general-knowledge-pg-16.html /index.html#redirect-old-stmp
Redirect 301 /general-knowledge-pg-17.html /index.html#redirect-old-stmp
Redirect 301 /general-knowledge-pg-18.html /index.html#redirect-old-stmp
Redirect 301 /general-knowledge-pg-19.html /index.html#redirect-old-stmp
Redirect 301 /general-knowledge-pg-2.html /index.html#redirect-old-stmp
Redirect 301 /general-knowledge-pg-20.html /index.html#redirect-old-stmp
Redirect 301 /general-knowledge-pg-21.html /index.html#redirect-old-stmp
Redirect 301 /general-knowledge-pg-22.html /index.html#redirect-old-stmp
Redirect 301 /general-knowledge-pg-23.html /index.html#redirect-old-stmp
Redirect 301 /general-knowledge-pg-24.html /index.html#redirect-old-stmp
Redirect 301 /general-knowledge-pg-25.html /index.html#redirect-old-stmp
Redirect 301 /general-knowledge-pg-26.html /index.html#redirect-old-stmp
Redirect 301 /general-knowledge-pg-3.html /index.html#redirect-old-stmp
Redirect 301 /general-knowledge-pg-4.html /index.html#redirect-old-stmp
Redirect 301 /general-knowledge-pg-5.html /index.html#redirect-old-stmp
Redirect 301 /general-knowledge-pg-6.html /index.html#redirect-old-stmp
Redirect 301 /general-knowledge-pg-7.html /index.html#redirect-old-stmp
Redirect 301 /general-knowledge-pg-8.html /index.html#redirect-old-stmp
Redirect 301 /general-knowledge-pg-9.html /index.html#redirect-old-stmp
Redirect 301 /gk-hi-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /gk-hi-pg-10.html /index.html#redirect-old-stmp
Redirect 301 /gk-hi-pg-11.html /index.html#redirect-old-stmp
Redirect 301 /gk-hi-pg-12.html /index.html#redirect-old-stmp
Redirect 301 /gk-hi-pg-13.html /index.html#redirect-old-stmp
Redirect 301 /gk-hi-pg-14.html /index.html#redirect-old-stmp
Redirect 301 /gk-hi-pg-15.html /index.html#redirect-old-stmp
Redirect 301 /gk-hi-pg-16.html /index.html#redirect-old-stmp
Redirect 301 /gk-hi-pg-17.html /index.html#redirect-old-stmp
Redirect 301 /gk-hi-pg-18.html /index.html#redirect-old-stmp
Redirect 301 /gk-hi-pg-19.html /index.html#redirect-old-stmp
Redirect 301 /gk-hi-pg-2.html /index.html#redirect-old-stmp
Redirect 301 /gk-hi-pg-20.html /index.html#redirect-old-stmp
Redirect 301 /gk-hi-pg-21.html /index.html#redirect-old-stmp
Redirect 301 /gk-hi-pg-22.html /index.html#redirect-old-stmp
Redirect 301 /gk-hi-pg-23.html /index.html#redirect-old-stmp
Redirect 301 /gk-hi-pg-24.html /index.html#redirect-old-stmp
Redirect 301 /gk-hi-pg-25.html /index.html#redirect-old-stmp
Redirect 301 /gk-hi-pg-3.html /index.html#redirect-old-stmp
Redirect 301 /gk-hi-pg-4.html /index.html#redirect-old-stmp
Redirect 301 /gk-hi-pg-5.html /index.html#redirect-old-stmp
Redirect 301 /gk-hi-pg-6.html /index.html#redirect-old-stmp
Redirect 301 /gk-hi-pg-7.html /index.html#redirect-old-stmp
Redirect 301 /gk-hi-pg-8.html /index.html#redirect-old-stmp
Redirect 301 /gk-hi-pg-9.html /index.html#redirect-old-stmp
Redirect 301 /index.html /index.html#redirect-old-stmp
Redirect 301 /privacy.html /index.html#redirect-old-stmp
Redirect 301 /qpadhoc-wireless-network-mcq-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpadhoc-wireless-network-mcq-pg-2.html /index.html#redirect-old-stmp
Redirect 301 /qpadhoc-wireless-network-mcq-pg-3.html /index.html#redirect-old-stmp
Redirect 301 /qpadvance-algorithm-mcq-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpadvance-algorithm-mcq-pg-2.html /index.html#redirect-old-stmp
Redirect 301 /qpadvanced-system-security-and-digital-forensics-mcq-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpadvance-operating-system-mcq-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpartificial-intelligence-and-soft-computing-mcq-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpartificial-intelligence-and-soft-computing-mcq-pg-2.html /index.html#redirect-old-stmp
Redirect 301 /qpartificial-intelligence-and-soft-computing-mcq-pg-3.html /index.html#redirect-old-stmp
Redirect 301 /qpbig-data-analytics-mcq-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpbig-data-analytics-mcq-pg-2.html /index.html#redirect-old-stmp
Redirect 301 /qpcomm-afm-1-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpcomm-afm-1-pg-2.html /index.html#redirect-old-stmp
Redirect 301 /qpcomm-afm-1-pg-3.html /index.html#redirect-old-stmp
Redirect 301 /qpcomm-afm-1-pg-4.html /index.html#redirect-old-stmp
Redirect 301 /qpcomm-afm-1-pg-5.html /index.html#redirect-old-stmp
Redirect 301 /qpcomm-afm-1-pg-6.html /index.html#redirect-old-stmp
Redirect 301 /qpcomm-afm-1-pg-7.html /index.html#redirect-old-stmp
Redirect 301 /qpcomm-busine-eco-1-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpcomm-busine-eco-1-pg-2.html /index.html#redirect-old-stmp
Redirect 301 /qpcomm-busine-eco-1-pg-3.html /index.html#redirect-old-stmp
Redirect 301 /qpcomm-busine-eco-1-pg-4.html /index.html#redirect-old-stmp
Redirect 301 /qpcomm-busine-eco-1-pg-5.html /index.html#redirect-old-stmp
Redirect 301 /qpcomm-busine-eco-1-pg-6.html /index.html#redirect-old-stmp
Redirect 301 /qpcomm-busine-eco-1-pg-7.html /index.html#redirect-old-stmp
Redirect 301 /qpcomm-busine-eco-1-pg-8.html /index.html#redirect-old-stmp
Redirect 301 /qpcommerce-afm2-1.html /index.html#redirect-old-stmp
Redirect 301 /qpcommerce-bbi-fa-1-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpcommerce-bbi-fa-1-pg-2.html /index.html#redirect-old-stmp
Redirect 301 /qpcommerce-bbi-fa-1-pg-3.html /index.html#redirect-old-stmp
Redirect 301 /qpcommerce-bbi-fc-1-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpcommerce-bbi-maths-1-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpcommerce-bbi-pom-1-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpcommerce-eco-1-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpcommerce-evs-1-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpcommerce-fa-1-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpcommerce-fa-1-pg-2.html /index.html#redirect-old-stmp
Redirect 301 /qpcommerce-fa-1-pg-3.html /index.html#redirect-old-stmp
Redirect 301 /qpcommerce-fc1-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpcommerce-fc-1-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpcommerce-fc1-pg-2.html /index.html#redirect-old-stmp
Redirect 301 /qpcommerce-fc1-pg-3.html /index.html#redirect-old-stmp
Redirect 301 /qpcommerce-fybcom-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpcommerce-fybcom-pg-2.html /index.html#redirect-old-stmp
Redirect 301 /qpcommerce-intr-bus1-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpcommerce-intr-bus1-pg-2.html /index.html#redirect-old-stmp
Redirect 301 /qpcommerce-intr-bus1-pg-3.html /index.html#redirect-old-stmp
Redirect 301 /qpcommerce-maths-1-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpcommerce-maths-1-pg-2.html /index.html#redirect-old-stmp
Redirect 301 /qpcommerc-maths-1-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpcommerc-maths-1-pg-2.html /index.html#redirect-old-stmp
Redirect 301 /qpcommer-commun-2-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpcommer-commun-2-pg-2.html /index.html#redirect-old-stmp
Redirect 301 /qpcommer-commun-2-pg-3.html /index.html#redirect-old-stmp
Redirect 301 /qpcomputer-networks-mcq-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpcomputer-simulation-and-modelling-mcq-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpcsl-mcq-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpdatabase-management-system-mcq-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpdata-warehouse-management-mcq-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpdeqp-mcq-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpdesign-of-experiments-mcq-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpdigital-business-management-mcq-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpdigital-business-management-mcq-pg-2.html /index.html#redirect-old-stmp
Redirect 301 /qpdigital-business-management-mcq-pg-3.html /index.html#redirect-old-stmp
Redirect 301 /qpdigital-business-management-mcq-pg-4.html /index.html#redirect-old-stmp
Redirect 301 /qpdigital-forensics-mcq-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpdigital-signal-and-image-processing-mcq-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpdigital-signal-and-image-processing-mcq-pg-2.html /index.html#redirect-old-stmp
Redirect 301 /qpdigital-signal-and-image-processing-mcq-pg-3.html /index.html#redirect-old-stmp
Redirect 301 /qpdisaster-management-and-mitigation-measures-mcq-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpdistributed-computing-mcq-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpdistributed-computing-mcq-pg-10.html /index.html#redirect-old-stmp
Redirect 301 /qpdistributed-computing-mcq-pg-11.html /index.html#redirect-old-stmp
Redirect 301 /qpdistributed-computing-mcq-pg-12.html /index.html#redirect-old-stmp
Redirect 301 /qpdistributed-computing-mcq-pg-13.html /index.html#redirect-old-stmp
Redirect 301 /qpdistributed-computing-mcq-pg-14.html /index.html#redirect-old-stmp
Redirect 301 /qpdistributed-computing-mcq-pg-15.html /index.html#redirect-old-stmp
Redirect 301 /qpdistributed-computing-mcq-pg-16.html /index.html#redirect-old-stmp
Redirect 301 /qpdistributed-computing-mcq-pg-17.html /index.html#redirect-old-stmp
Redirect 301 /qpdistributed-computing-mcq-pg-18.html /index.html#redirect-old-stmp
Redirect 301 /qpdistributed-computing-mcq-pg-19.html /index.html#redirect-old-stmp
Redirect 301 /qpdistributed-computing-mcq-pg-2.html /index.html#redirect-old-stmp
Redirect 301 /qpdistributed-computing-mcq-pg-20.html /index.html#redirect-old-stmp
Redirect 301 /qpdistributed-computing-mcq-pg-21.html /index.html#redirect-old-stmp
Redirect 301 /qpdistributed-computing-mcq-pg-3.html /index.html#redirect-old-stmp
Redirect 301 /qpdistributed-computing-mcq-pg-4.html /index.html#redirect-old-stmp
Redirect 301 /qpdistributed-computing-mcq-pg-5.html /index.html#redirect-old-stmp
Redirect 301 /qpdistributed-computing-mcq-pg-6.html /index.html#redirect-old-stmp
Redirect 301 /qpdistributed-computing-mcq-pg-7.html /index.html#redirect-old-stmp
Redirect 301 /qpdistributed-computing-mcq-pg-8.html /index.html#redirect-old-stmp
Redirect 301 /qpdistributed-computing-mcq-pg-9.html /index.html#redirect-old-stmp
Redirect 301 /qpdistributed-database-mcq-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpentrepreneurship-development-and-management-mcq-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpentrepreneurship-development-and-management-mcq-pg-2.html /index.html#redirect-old-stmp
Redirect 301 /qpentrepreneurship-development-and-management-mcq-pg-3.html /index.html#redirect-old-stmp
Redirect 301 /qpenvironmental-management-mcq-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpenvironmental-management-mcq-pg-2.html /index.html#redirect-old-stmp
Redirect 301 /qpeum-mcq-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpfinance-management-mcq-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpfinance-management-mcq-pg-2.html /index.html#redirect-old-stmp
Redirect 301 /qpfinance-management-mcq-pg-3.html /index.html#redirect-old-stmp
Redirect 301 /qpfinance-management-mcq-pg-4.html /index.html#redirect-old-stmp
Redirect 301 /qphigh-performance-computing-mcq-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qphigh-performance-computing-mcq-pg-2.html /index.html#redirect-old-stmp
Redirect 301 /qphigh-performance-computing-mcq-pg-3.html /index.html#redirect-old-stmp
Redirect 301 /qphigh-performance-computing-mcq-pg-4.html /index.html#redirect-old-stmp
Redirect 301 /qphuman-machine-interaction-mcq-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qphuman-machine-interaction-mcq-pg-10.html /index.html#redirect-old-stmp
Redirect 301 /qphuman-machine-interaction-mcq-pg-11.html /index.html#redirect-old-stmp
Redirect 301 /qphuman-machine-interaction-mcq-pg-12.html /index.html#redirect-old-stmp
Redirect 301 /qphuman-machine-interaction-mcq-pg-13.html /index.html#redirect-old-stmp
Redirect 301 /qphuman-machine-interaction-mcq-pg-14.html /index.html#redirect-old-stmp
Redirect 301 /qphuman-machine-interaction-mcq-pg-15.html /index.html#redirect-old-stmp
Redirect 301 /qphuman-machine-interaction-mcq-pg-16.html /index.html#redirect-old-stmp
Redirect 301 /qphuman-machine-interaction-mcq-pg-17.html /index.html#redirect-old-stmp
Redirect 301 /qphuman-machine-interaction-mcq-pg-18.html /index.html#redirect-old-stmp
Redirect 301 /qphuman-machine-interaction-mcq-pg-19.html /index.html#redirect-old-stmp
Redirect 301 /qphuman-machine-interaction-mcq-pg-2.html /index.html#redirect-old-stmp
Redirect 301 /qphuman-machine-interaction-mcq-pg-20.html /index.html#redirect-old-stmp
Redirect 301 /qphuman-machine-interaction-mcq-pg-3.html /index.html#redirect-old-stmp
Redirect 301 /qphuman-machine-interaction-mcq-pg-4.html /index.html#redirect-old-stmp
Redirect 301 /qphuman-machine-interaction-mcq-pg-5.html /index.html#redirect-old-stmp
Redirect 301 /qphuman-machine-interaction-mcq-pg-6.html /index.html#redirect-old-stmp
Redirect 301 /qphuman-machine-interaction-mcq-pg-7.html /index.html#redirect-old-stmp
Redirect 301 /qphuman-machine-interaction-mcq-pg-8.html /index.html#redirect-old-stmp
Redirect 301 /qphuman-machine-interaction-mcq-pg-9.html /index.html#redirect-old-stmp
Redirect 301 /qphuman-resource-management-mcq-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qphuman-resource-management-mcq-pg-2.html /index.html#redirect-old-stmp
Redirect 301 /qphuman-resource-management-mcq-pg-3.html /index.html#redirect-old-stmp
Redirect 301 /qphuman-resource-management-mcq-pg-4.html /index.html#redirect-old-stmp
Redirect 301 /qpimage-processing-mcq-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpindex.html /index.html#redirect-old-stmp
Redirect 301 /qpipr-and-patenting-mcq-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpipr-and-patenting-mcq-pg-2.html /index.html#redirect-old-stmp
Redirect 301 /qpipr-and-patenting-mcq-pg-3.html /index.html#redirect-old-stmp
Redirect 301 /qpipr-and-patenting-mcq-pg-4.html /index.html#redirect-old-stmp
Redirect 301 /qpmachine-learning-mcq-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpmachine-learning-mcq-pg-2.html /index.html#redirect-old-stmp
Redirect 301 /qpmicroprocessor-mcq-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpmicroprocessor-mcq-pg-2.html /index.html#redirect-old-stmp
Redirect 301 /qpmis-mcq-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpmobile-communication-and-computing-mcq-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpmultimedia-system-mcq-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpnatural-language-processing-mcq-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpnatural-language-processing-mcq-pg-10.html /index.html#redirect-old-stmp
Redirect 301 /qpnatural-language-processing-mcq-pg-11.html /index.html#redirect-old-stmp
Redirect 301 /qpnatural-language-processing-mcq-pg-12.html /index.html#redirect-old-stmp
Redirect 301 /qpnatural-language-processing-mcq-pg-13.html /index.html#redirect-old-stmp
Redirect 301 /qpnatural-language-processing-mcq-pg-14.html /index.html#redirect-old-stmp
Redirect 301 /qpnatural-language-processing-mcq-pg-15.html /index.html#redirect-old-stmp
Redirect 301 /qpnatural-language-processing-mcq-pg-16.html /index.html#redirect-old-stmp
Redirect 301 /qpnatural-language-processing-mcq-pg-2.html /index.html#redirect-old-stmp
Redirect 301 /qpnatural-language-processing-mcq-pg-3.html /index.html#redirect-old-stmp
Redirect 301 /qpnatural-language-processing-mcq-pg-4.html /index.html#redirect-old-stmp
Redirect 301 /qpnatural-language-processing-mcq-pg-5.html /index.html#redirect-old-stmp
Redirect 301 /qpnatural-language-processing-mcq-pg-6.html /index.html#redirect-old-stmp
Redirect 301 /qpnatural-language-processing-mcq-pg-7.html /index.html#redirect-old-stmp
Redirect 301 /qpnatural-language-processing-mcq-pg-8.html /index.html#redirect-old-stmp
Redirect 301 /qpnatural-language-processing-mcq-pg-9.html /index.html#redirect-old-stmp
Redirect 301 /qpoperating-system-mcq-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpor-mcq-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpproduct-life-cycle-management-mcq-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpprofessional-ethics-and-csr-mcq-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpprofessional-ethics-and-csr-mcq-pg-2.html /index.html#redirect-old-stmp
Redirect 301 /qpprofessional-ethics-and-csr-mcq-pg-3.html /index.html#redirect-old-stmp
Redirect 301 /qpproject-management-mcq-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpproject-management-mcq-pg-2.html /index.html#redirect-old-stmp
Redirect 301 /qpproject-management-mcq-pg-3.html /index.html#redirect-old-stmp
Redirect 301 /qpresearch-methodology-mcq-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpresearch-methodology-mcq-pg-2.html /index.html#redirect-old-stmp
Redirect 301 /qpsoft-computing-mcq-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpsoftware-architecture-mcq-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpsoftware-architecture-mcq-pg-2.html /index.html#redirect-old-stmp
Redirect 301 /qpsoftware-engineering-mcq-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpstructured-and-object-oriented-analysis-and-design-mcq-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpsystem-programming-and-compiler-construction-mcq-pg-1.html /index.html#redirect-old-stmp
Redirect 301 /qpsystem-programming-and-compiler-construction-mcq-pg-2.html /index.html#redirect-old-stmp
Redirect 301 /site-maintenace.html /index.html#redirect-old-stmp
Redirect 301 /sitemap.html /index.html#redirect-old-stmp
Redirect 301 /terms.html /index.html#redirect-old-stmp




/Custom 400 errors

ErrorDocument 400 /404.html#400



//Custom 401 errors

ErrorDocument 401 /404.html#401



//Custom 403 errors

ErrorDocument 403 /404.html#403



//Custom 404 errors

ErrorDocument 404 /404.html#404



//Custom 500 errors

//ErrorDocument 500 /404.html#500

 

<IfModule mod_expires.c>

    ExpiresActive On



    

    ExpiresDefault A300

    ExpiresByType image/x-icon A2592000

    ExpiresByType application/x-javascript A3600

    ExpiresByType text/css A172800

    ExpiresByType image/gif A172800

    ExpiresByType image/png A172800

    ExpiresByType image/jpeg A172800

    ExpiresByType text/plain A300

    ExpiresByType application/x-shockwave-flash A172800

    ExpiresByType video/x-flv A172800

    ExpiresByType application/pdf A172800

    ExpiresByType text/html A300

</IfModule>





# BROWSER CACHING USING CACHE-CONTROL HEADERS

<ifModule mod_headers.c> 

    # One year for image and video files

    <filesMatch ".(flv|gif|ico|jpg|jpeg|mp4|mpeg|png|svg|swf|webp)$">

        Header set Cache-Control "max-age=172800, public"

    </filesMatch>



    # One month for JavaScript and PDF files

    <filesMatch ".(js|pdf)$">

        Header set Cache-Control "max-age=172800, public"

    </filesMatch>



    # One week for CSS files

    <filesMatch ".(css)$">

        Header set Cache-Control "max-age=172800, public"

    </filesMatch>

</ifModule>
